<!DOCTYPE html>
<html>
<head>
  <title>ReactApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
